.loading {
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    transition: all 1s ease-in-out;
    >div {
        width: 0px;
        height: 0px;
        background: black;
        border-radius: 100%;
        transition: all 1s ease-in-out;
    }
    &.active {
        visibility: visible;
        >div {
            width: 10000px;
            height: 10000px;
        }
    }
}